<%- include('../partials/header') %>

<div class="input-div">
    <form action="/recipes/<%= recipe._id %>/notes/<%= note._id %>?_method=PUT" id="add-note-form" method="POST">
        <textarea id="content-form-note" name="content" placeholder="Edit note"><%= note.content %></textarea>
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Update note">
    </form>
    <div class="error-message-container">
        <span class="error-message" id="content-error-note"></span>
    </div>
</div>

<%- include('../partials/footer') %>

<script>

    const formElements = document.querySelectorAll("form");
    formElements.forEach((form) => {
        form.addEventListener("submit", (event) => {
            const submitButton = form.querySelector("[type='submit']");

            // Dynamically get the validation function based on the form's context
            const validationFunction = getValidationFunction(form);

            if (validationFunction && !validationFunction()) {
                event.preventDefault(); // Prevent the form from being submitted again
                submitButton.removeAttribute("data-processing"); // Re-enable data-processing attribute
                submitButton.disabled = false; // Re-enable the button visually
            } else {
                submitButton.setAttribute("data-processing", "true"); // Disable the submit button
                submitButton.disabled = true; // Disable the button visually
            }
        });
    });

    function getValidationFunction(form) {
        if (form.id === "add-note-form") {
            return validateNoteForm;
        }
        return () => true;
    }

    function validateNoteForm() {
        const noteContentField = document.getElementById("content-form-note");
        const noteContentError = document.getElementById("content-error-note");

        // Reset error message
        noteContentError.textContent = "";

        let isValid = true;

        // Validate note content (must not be empty)
        const noteContentValue = noteContentField.value.trim();
        if (noteContentValue === "") {
        noteContentError.textContent = "Please enter note content.";
        isValid = false;
        }

        return isValid;
    }

</script>