<%- include('../partials/header') %>

<div class="input-div">
    <form action="/recipes/<%= recipe._id %>/equipments/<%= equipment._id %>?_method=PUT" id="add-equipment-form" method="POST">
        <input id="content-form-equipment" name="content" placeholder="Edit equipment item name" value="<%= equipment.content %>"></input>
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Update equipment item">
    </form>
    <div class="error-message-container">
        <span class="error-message" id="content-error-equipment"></span>
    </div>
</div>

<%- include('../partials/footer') %>

<script>

    const formElements = document.querySelectorAll("form");
    formElements.forEach((form) => {
        form.addEventListener("submit", (event) => {
            const submitButton = form.querySelector("[type='submit']");

            // Dynamically get the validation function based on the form's context
            const validationFunction = getValidationFunction(form);

            if (validationFunction && !validationFunction()) {
                event.preventDefault(); // Prevent the form from being submitted again
                submitButton.removeAttribute("data-processing"); // Re-enable data-processing attribute
                submitButton.disabled = false; // Re-enable the button visually
            } else {
                submitButton.setAttribute("data-processing", "true"); // Disable the submit button
                submitButton.disabled = true; // Disable the button visually
            }
        });
    });

    function getValidationFunction(form) {
        if (form.id === "add-equipment-form") {
            return validateEquipmentForm;
        }
        return () => true;
    }

    function validateEquipmentForm() {
        const equipmentContentField = document.getElementById("content-form-equipment");
        const equipmentContentError = document.getElementById("content-error-equipment");

        // Reset error message
        equipmentContentError.textContent = "";

        let isValid = true;

        // Validate equipment content (must not be empty)
        const equipmentContentValue = equipmentContentField.value.trim();
        if (equipmentContentValue === "") {
        equipmentContentError.textContent = "Please enter an equipment item name.";
        isValid = false;
        }

        return isValid;
    }

</script>