<%- include('../partials/header') %>

<div class="input-div">
    <form action="/recipes/<%= recipe._id %>/freezers/<%= freezer._id %>?_method=PUT" id="add-freezer-form" method="POST">
        <textarea id="content-form-freezer" name="content" placeholder="Edit freezing info"><%= freezer.content %></textarea>
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Update freezing info">
    </form>
    <div class="error-message-container">
        <span class="error-message" id="content-error-freezer"></span>
    </div>
</div>

<%- include('../partials/footer') %>

<script>

    const formElements = document.querySelectorAll("form");
    formElements.forEach((form) => {
        form.addEventListener("submit", (event) => {
            const submitButton = form.querySelector("[type='submit']");

            // Dynamically get the validation function based on the form's context
            const validationFunction = getValidationFunction(form);

            if (validationFunction && !validationFunction()) {
                event.preventDefault(); // Prevent the form from being submitted again
                submitButton.removeAttribute("data-processing"); // Re-enable data-processing attribute
                submitButton.disabled = false; // Re-enable the button visually
            } else {
                submitButton.setAttribute("data-processing", "true"); // Disable the submit button
                submitButton.disabled = true; // Disable the button visually
            }
        });
    });

    function getValidationFunction(form) {
        if (form.id === "add-freezer-form") {
            return validateFreezerForm;
        }
        return () => true;
    }

    function validateFreezerForm() {
        const freezerContentField = document.getElementById("content-form-freezer");
        const freezerContentError = document.getElementById("content-error-freezer");

        // Reset error message
        freezerContentError.textContent = "";

        let isValid = true;

        // Validate freezing info content (must not be empty)
        const freezerContentValue = freezerContentField.value.trim();
        if (freezerContentValue === "") {
        freezerContentError.textContent = "Please enter freezing info content.";
        isValid = false;
        }

        return isValid;
    }

</script>