<%- include('../partials/header') %>

<div class="form-container">
  <form action="/recipes/<%= recipe.id %>?_method=PUT" method="POST" autocomplete="off">
    <label>Dish Name:
      <input type="text" name="dishName" value="<%= recipe.dishName %>">
    </label>
    <br>
    <label>Cuisine:
      <select name="cuisine">
        <% cuisines.forEach(cuisine => { %>
          <option value="<%= cuisine._id %>" <%= recipe.cuisine && recipe.cuisine._id.toString() === cuisine._id.toString() ? 'selected' : '' %>><%= cuisine.name %></option>
        <% }); %>
      </select>
    </label>
    <br>
    <label>Type of Food:
      <select name="foodType">
        <option value="Appetizer" <%= recipe.foodType === 'Appetizer' ? 'selected' : '' %>>Appetizer</option>
        <option value="Side-Dish" <%= recipe.foodType === 'Side-Dish' ? 'selected' : '' %>>Side Dish</option>
        <option value="Main Dish" <%= recipe.foodType === 'Main Dish' ? 'selected' : '' %>>Main Dish</option>
        <option value="Dessert" <%= recipe.foodType === 'Dessert' ? 'selected' : '' %>>Dessert</option>
        <option value="Full Course" <%= recipe.foodType === 'Full Course' ? 'selected' : '' %>>Full Course</option>
      </select>
    </label>
    <br>
    <label>Servings:
      <input type="number" name="serving" value="<%= recipe.serving %>">
    </label>
    <br>
    <label>Prep Time:
      <input type="number" name="prepTime" value="<%= recipe.prepTime %>">
    </label>
    <br>
    <label>Cook Time:
      <input type="number" name="cookTime" value="<%= recipe.cookTime %>">
    </label>
    <br>
    <label>Total Time:
      <input type="number" name="totalTime" value="<%= recipe.totalTime %>">
    </label>
    <br>
    <label>Have made before:
      <input type="checkbox" name="haveMade" <%= recipe.haveMade ? 'checked' : '' %>>
    </label>
    <br>
    <button type="submit">Update Recipe</button>
  </form>
</div>

<%- include('../partials/footer') %>