<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Dish Name</th>
      <th>Course</th>
      <th>Total Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% recipes.forEach(function(g) { %>
      <tr>
        <td><%= g.dishName %></td>
        <td><%= g.course %></td>
        <td><%= g.totalTime %></td>
        <td><a href="/recipes/<%= g._id %>">Instructions</a></td>
      </tr>
      <% }); %>
    </tbody>
</table>
  
<%- include('../partials/footer') %>
