<%- include('../partials/header') %>
<div id="recipe-div">
  <div id="show-ed-de-div">
    <div id="show-page">
      <div>Cuisine: </div>
      <div>
        <% if (recipe.cuisine) { %>
          <%= recipe.cuisine.name %>
        <% } %>
      </div>
      <div>Type of Dish: </div>
      <div><%= recipe.dishType %></div>
      <div>Servings: </div>
      <div><%= recipe.serving %></div>
      <div>Prep Time: </div>
      <div><%= recipe.formattedPrepTime %></div>
      <div>Cook Time: </div>
      <div><%= recipe.formattedCookTime %></div>
      <div>Total Time: </div>
      <div><%= recipe.totalTime %></div>
      <div>Have made before: </div>
      <div><%= recipe.haveMade ? 'Yes' : 'No' %></div>
    </div>
    <% if(user) { %>
      <div id="ed-de-div">
        <div class="edit-button">
          <button id="editOriginalButton" onclick="replaceAndToggleEditButtons()" id="toggleEditButtons">
            <img src="/images/edit-icon.png" alt="Edit Icon" class="ed-de-icon"/>
          </button>
        </div>
        <div id="editNewButtons" class="hidden">
          <div id="confcanc-buttons">
            <button onclick="restoreAndToggleEditButton()">
              <img src="/images/edit-icon.png" alt="Edit Icon" class="ed-de-icon"/>
            </button>
            <a href="/recipes/<%= recipe._id %>/edit">
              <button type="submit">
                <img src="/images/check.png" alt="Check Icon" class="ed-de-icon" id="check-button"/>
              </button>
            </a>
          </div>
        </div>
        <div class="trash-button">
          <button id="deleteOriginalButton" onclick="replaceDeleteButtons()">
            <img src="/images/trash-icon.png" alt="Trash Icon" class="ed-de-icon">
          </button>
        </div>
        <div id="deleteNewButtons" class="hidden">
          <div id="confcanc-buttons">
            <button onclick="restoreDeleteButton()">
              <img src="/images/close.png" alt="Close Icon" class="ed-de-icon" id="close-button">
            </button>
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
              <button type="submit">
                <img src="/images/check.png" alt="Check Icon" class="ed-de-icon" id="check-button"/>
              </button>
            </form>
          </div>
        </div>
      </div>
    <% } %>
  </div>

  <% if (recipe.ingredients.length) { %>
    <div class="instruction-list">
      <h2>Ingredients</h2>
      <div id="servings-adjuster">
        <div>Servings</div>
        <div>
          <button id="decrease-servings" onclick="adjustServings(-1)">-</button>
          <input type="number" id="servings-input" value="<%= recipe.serving %>">
          <button id="increase-servings" onclick="adjustServings(1)">+</button>
        </div>
        <div>Display</div>
        <% const useFractions = true; %>
        <button id="toggleQuantityFormat" onclick="toggleQuantityFormat()">
          <%- useFractions ? '1.23' : '1/2' %>
        </button>
      </div>
      <ul>
        <% let total = 0 %>
        <% recipe.ingredients.forEach(function(ingredient) { %>
          <li class="ingredient-li">
            <span class="ingredient-quantity" data-quantity="<%= ingredient.quantity %>"><%= ingredient.quantity %></span>
            <%= ingredient.measurement %>
            <%= ingredient.content %>
          </li>
          <div>
            <% if (user?._id.equals(ingredient.user)) { %>
              <button class="list-edit-button">
                <a href="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>/edit">
                  Edit
                </a>
              </button>
            <% } %>
          </div>
          <div>
            <% if (user?._id.equals(ingredient.user)) { %>
              <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST" class="x-form">
                <button class="x-button" type="submit">X</button>
              </form>
            <% } %>
          </div>
        <% }); %>
      </ul>
    </div>
  <% } %>
  
  <% if(user) { %>
    <div class="input-div">
      <form id="add-ingredient-form" method="POST"
        action="/recipes/<%= recipe._id %>/ingredients"  onsubmit="convertQuantity()">
        <input  name="quantity" id="quantity-form" placeholder="Qty."></input>
        <select name="measurement" id="measurement-form">
          <option value="" selected disabled>Measurement</option>
          <option value="Pinch">Pinch</option>
          <option value="Dash">Dash</option>
          <option value="Teaspoon">Teaspoon</option>
          <option value="Tablespoon">Tablespoon</option>
          <option value="Ounce">Ounce</option>
          <option value="Pound">Pound</option>
          <option value="Fluid Ounce">Fluid Ounce</option>
          <option value="Cup">Cup</option>
          <option value="Pint">Pint</option>
          <option value="Quart">Quart</option>
          <option value="Gallon">Gallon</option>
        </select>
        <input  name="content" id="ingredient-form" placeholder="Ingredient Name"></input>
        <input type="submit" value="Add Ingredient" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="quantity-error"></span>
        <span class="error-message" id="content-error"></span>
      </div>
      <div class="group-divider"></div>
    </div>
  <% } %>

  <% if (user) { %>
    <div class="input-div">
      <form id="add-group-form" method="POST" action="/recipes/<%= recipe._id %>/groups">
        <input id="group-form" name="name" placeholder="Group Name"></input>
        <input type="submit" value="Add Ingredient Group" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="group-name-error"></span>
      </div>
    </div>
  <% } %>

  <% if (recipe.groups.length) { %>
    <div class="instruction-list">
      <div id="group-container">
        <% let total = 0 %>
        <% recipe.groups.forEach(function(group) { %>
          <div class="group-list">
            <div class="group-li">
              <h3 class="group-name"><%= group.name %></h3>
              <div class="group-edit">
                <% if (user?._id.equals(group.user)) { %>
                  <button class="list-edit-button">
                    <a href="recipes/groups/<%= group._id %>/edit">
                      Edit
                    </a>
                  </button>
                <% } %>
              </div>
              <div class="group-delete">
                <% if (user?._id.equals(group.user)) { %>
                  <form action="/groups/<%= group._id %>?_method=DELETE" method="POST" class="x-form">
                    <button class="x-button" type="submit">X</button>
                  </form>
                <% } %>
              </div>
            </div>
            <ul>
              <% group.ingredients.forEach(function(ingredient) { %>
                <li class="ingredient-li">
                  <span class="ingredient-quantity" data-quantity="<%= ingredient.quantity %>"><%= ingredient.quantity %></span>
                  <%= ingredient.measurement %>
                  <%= ingredient.content %>
                </li>
                <div>
                  <% if (user?._id.equals(ingredient.user)) { %>
                    <button class="list-edit-button">
                      <a href="/recipes/<%= recipe._id %>/groups/<%= group._id %>/ingredients/<%= ingredient._id %>/groupIngredientEdit">
                        Edit
                      </a>
                    </button>
                  <% } %>
                </div>
                <div>
                  <% if (user?._id.equals(ingredient.user)) { %>
                    <form action="/recipes/<%= recipe._id %>/groups/<%= group._id %>/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST" class="x-form">
                      <button class="x-button" type="submit">X</button>
                    </form>
                  <% } %>
                </div>
              <% }); %>
            </ul>
            <% if (user) { %>
              <div class="input-div">
                <form class="add-ingredient-form-group" id="add-ingredient-form-group-<%= group._id %>" method="POST"
                  action="/recipes/<%= recipe._id %>/groups/<%= group._id %>/ingredients" onsubmit="convertQuantityGroup(); return validateFormGroup('<%= group._id %>')">
                  <input name="quantity" id="quantity-form-group-<%= group._id %>" class="quantity-form-group-class" placeholder="Qty."></input>
                  <select name="measurement" id="measurement-form">
                    <option value="" selected disabled>Measurement</option>
                    <option value="Pinch">Pinch</option>
                    <option value="Dash">Dash</option>
                    <option value="Teaspoon">Teaspoon</option>
                    <option value="Tablespoon">Tablespoon</option>
                    <option value="Ounce">Ounce</option>
                    <option value="Pound">Pound</option>
                    <option value="Fluid Ounce">Fluid Ounce</option>
                    <option value="Cup">Cup</option>
                    <option value="Pint">Pint</option>
                    <option value="Quart">Quart</option>
                    <option value="Gallon">Gallon</option>
                  </select>
                  <input name="content" id="ingredient-form-group-<%= group._id %>" class="ingredient-form-group-class" placeholder="Ingredient Name"></input>
                  <input type="submit" value="Add Ingredient to Group" data-processing="false">
                </form>
                <div class="error-message-container">
                  <span class="error-message" class="quantity-error-group-class" id="quantity-error-group-<%= group._id %>"></span>
                  <span class="error-message" class="content-error-group-class" id="content-error-group-<%= group._id %>"></span>
                </div>
                <div class="group-divider"></div>
              </div>
            <% } %>
          </div>
        <% }); %>
      </div>
    </div>
  <% } %>
  
  <% if (recipe.steps.length) { %>
    <div class="instruction-list">
      <h2>Instructions</h2>
        <ol>
          <% let total = 0 %>
          <% recipe.steps.forEach(function(step) { %>
                <li class="step-li">
                  <%= step.content %>
                </li>
                <div>
                  <% if (user?._id.equals(step.user)) { %>
                    <button class="list-edit-button">
                      <a href="recipes/steps/<%= step._id %>/edit">
                        Edit
                      </a>
                    </button>
                  <% } %>
                </div>
                <div>
                  <% if (user?._id.equals(step.user)) { %>
                    <form action="/steps/<%= step._id %>?_method=DELETE" method="POST" class="x-form">
                      <button class="x-button" type="submit">X</button>
                    </form>
                  <% } %>
                </div>
          <% }); %>
        </ol>
    </div>
  <% } %>
  
  <% if(user) { %>
    <div class="input-div">
      <form id="add-step-form" method="POST"
        action="/recipes/<%= recipe._id %>/steps">
        <textarea id="step-form" name="content" placeholder="Add New Step"></textarea>
        <input type="submit" value="Add Step" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="step-content-error"></span>
      </div>
      <div class="group-divider"></div>
    </div>
  <% } %>

</div>

<script>

  const originalServings = <%= recipe.serving %>;
  let currentServings = originalServings;

  function updateIngredientQuantities() {
    const scalingFactor = currentServings / originalServings;
    const ingredientQuantities = document.querySelectorAll(".ingredient-li .ingredient-quantity");

    ingredientQuantities.forEach(function (quantityElement) {
      const originalQuantity = parseFloat(quantityElement.getAttribute("data-quantity"));

      // Check if the originalQuantity is NaN
      if (isNaN(originalQuantity)) {
        quantityElement.style.display = "none"; // Hide the element
        return; // Exit the loop for this element
      } else {
        quantityElement.style.display = "inline";
      }

      let newQuantity = originalQuantity * scalingFactor; // as a floating-point number

      if (useFractions) {
        // Convert decimal to fraction
        newQuantity = decimalToFraction(newQuantity);
      } else {
        // Display decimal
        newQuantity = newQuantity.toFixed(2).replace(/\.?0+$/, "");
      }

      quantityElement.textContent = newQuantity;
    });
  }

  function decimalToFraction(decimal) {
    if (decimal === 0) return "0";

    const tolerance = 0.01; // Define your tolerance level for rounding

    let sign = 1;
    if (decimal < 0) {
      sign = -1;
      decimal = Math.abs(decimal);
    }

    let wholeNumberPart = Math.floor(decimal);
    let fractionalPart = decimal - wholeNumberPart;

    for (let denominator = 2; denominator <= 8; denominator++) {
      for (let numerator = 1; numerator < denominator; numerator++) {
        const fractionValue = numerator / denominator;
        if (Math.abs(fractionalPart - fractionValue) < tolerance) {
          let fraction = "";
          if (wholeNumberPart > 0) {
            fraction = wholeNumberPart + " ";
          }
          if (numerator === 1) {
            fraction += "1/" + denominator;
          } else {
            fraction += numerator + "/" + denominator;
          }
          return sign === -1 ? "-" + fraction : fraction;
        }
      }
    }

    return (sign === -1 ? "-" : "") + decimal.toFixed(2).replace(/\.?0+$/, "");
  }

  function convertQuantity() {
    const quantityField = document.getElementById("quantity-form");
    let quantityValue = quantityField.value;

    // Convert .33 to .333 and .66 to .667
    quantityValue = quantityValue.replace(/\.33(?![\d])/g, ".333").replace(/\.66(?![\d])/g, ".667");
    quantityField.value = quantityValue;

    // Continue with the form submission
  }

  function convertQuantityGroup() {
    const quantityFields = document.querySelectorAll(".quantity-form-group-class");

    quantityFields.forEach((quantityField) => {
      let quantityValue = quantityField.value;

      // Replace .33 with .333 and .66 with .667
      quantityValue = quantityValue.replace(/\.33(?![\d])/g, ".333").replace(/\.66(?![\d])/g, ".667");
      quantityField.value = quantityValue;

      // Continue with the form submission
    });
  }

  const formElements = document.querySelectorAll("form");
  formElements.forEach((form) => {
    form.addEventListener("submit", (event) => {
      const submitButton = form.querySelector("[type='submit']");
      
      // Dynamically get the validation function based on the form's context
      const validationFunction = getValidationFunction(form);

      if (validationFunction && !validationFunction()) {
        event.preventDefault(); // Prevent the form from being submitted again
      } else {
        submitButton.setAttribute("data-processing", "true"); // Disable the submit button
        submitButton.disabled = true; // Disable the button visually
      }
    });
  });

  // Function to get the appropriate validation function based on the form's context
  function getValidationFunction(form) {
    // Identify the form context based on its elements, IDs, or other attributes
    if (form.id === "add-ingredient-form") {
      return validateForm;
    } else if (form.id.startsWith("add-ingredient-form-group-")) {
      // Extract the groupId from the form's ID
      const groupId = form.id.split("-").pop();
      return () => validateFormGroup(groupId);
    } else if (form.id === "add-group-form") {
      return validateGroupForm;
    } else if (form.id === "add-step-form") {
      return validateStepForm;
    }

    // Return a default function if the form context is not recognized
    return () => true;
  }

  
  function validateForm() {
    const quantityField = document.getElementById("quantity-form");
    const contentField = document.getElementById("ingredient-form");
    const quantityError = document.getElementById("quantity-error");
    const contentError = document.getElementById("content-error");

    // Reset error messages
    quantityError.textContent = "";
    contentError.textContent = "";

    let isValid = true;

    // Validate quantity (if filled, it must be a decimal number)
    const quantityValue = quantityField.value.trim();
    if (quantityValue !== "") {
      if (isNaN(quantityValue) || parseFloat(quantityValue) <= 0 || !/^(0?\.)?\d+(\.\d+)?$/.test(quantityValue)) {
        quantityError.textContent = "Please enter a valid positive decimal number (ex: .33 or 1.5 or 2).";
        isValid = false;
      }
    }

    // Validate content (must not be empty)
    const contentValue = contentField.value.trim();
    if (contentValue === "") {
      contentError.textContent = "Please enter an ingredient name.";
      isValid = false;
    }

    return isValid;
  }

  function validateFormGroup(groupId) {
    const quantityField = document.getElementById(`quantity-form-group-${groupId}`);
    const contentField = document.getElementById(`ingredient-form-group-${groupId}`);
    const quantityError = document.getElementById(`quantity-error-group-${groupId}`);
    const contentError = document.getElementById(`content-error-group-${groupId}`);

    // Reset error messages
    quantityError.textContent = "";
    contentError.textContent = "";

    let isValid = true;

    // Validate quantity (if filled, it must be a decimal number)
    const quantityValue = quantityField.value.trim();
    if (quantityValue !== "") {
      if (isNaN(quantityValue) || parseFloat(quantityValue) <= 0 || !/^(0?\.)?\d+(\.\d+)?$/.test(quantityValue)) {
        quantityError.textContent = "Please enter a valid positive decimal number (ex: .33 or 1.5 or 2).";
        isValid = false;
      }
    }

    // Validate content (must not be empty)
    const contentValue = contentField.value.trim();
    if (contentValue === "") {
      contentError.textContent = "Please enter an ingredient name.";
      isValid = false;
    }

    return isValid;
  }

  function validateGroupForm() {
    const groupNameField = document.getElementById("group-form");
    const groupNameError = document.getElementById("group-name-error");

    // Reset error message
    groupNameError.textContent = "";

    let isValid = true;

    // Validate group name (must not be empty)
    const groupNameValue = groupNameField.value.trim();
    if (groupNameValue === "") {
      groupNameError.textContent = "Please enter a group name.";
      isValid = false;
    }

    return isValid;
  }

  function validateStepForm() {
    const stepContentField = document.getElementById("step-form");
    const stepContentError = document.getElementById("step-content-error");

    // Reset error message
    stepContentError.textContent = "";

    let isValid = true;

    // Validate step content (must not be empty)
    const stepContentValue = stepContentField.value.trim();
    if (stepContentValue === "") {
      stepContentError.textContent = "Please enter step content.";
      isValid = false;
    }

    return isValid;
  }

  let useFractions = true; // By default, start with fractions

  function toggleQuantityFormat() {
    useFractions = !useFractions;
    updateIngredientQuantities();

    const toggleButton = document.getElementById("toggleQuantityFormat");
    toggleButton.innerText = useFractions ? '1.23' : '1/2';

  }

  function adjustServings(change) {
    const servingsInput = document.getElementById("servings-input");
    const newServings = parseInt(servingsInput.value) + change;

    if (newServings < 1) return;

    servingsInput.value = newServings;
    currentServings = newServings;
    updateIngredientQuantities();
  }

  updateIngredientQuantities();
    
  function replaceEditButtons() {
    var originalButton = document.getElementById("editOriginalButton");
    var newButtons = document.getElementById("editNewButtons");
    
    originalButton.classList.add("hidden");
    newButtons.classList.remove("hidden");
  }
  
  function restoreEditButton() {
    var originalButton = document.getElementById("editOriginalButton");
    var newButtons = document.getElementById("editNewButtons");
    
    originalButton.classList.remove("hidden");
    newButtons.classList.add("hidden");
  }
  
  function replaceDeleteButtons() {
    var originalButton = document.getElementById("deleteOriginalButton");
    var newButtons = document.getElementById("deleteNewButtons");
    
    originalButton.classList.add("hidden");
    newButtons.classList.remove("hidden");
  }
  
  function restoreDeleteButton() {
    var originalButton = document.getElementById("deleteOriginalButton");
    var newButtons = document.getElementById("deleteNewButtons");
    
    originalButton.classList.remove("hidden");
    newButtons.classList.add("hidden");
  }
  
  function replaceAndToggleEditButtons() {
    replaceEditButtons();
    toggleEditState();
  }
  
  function restoreAndToggleEditButton() {
    restoreEditButton();
    toggleEditState();
  }

  function setEditState(editState) {
    Cookies.set('editState', editState);
  }

  function getEditState() {
    return Cookies.get('editState');
  }

  function toggleEditState() {
    const editState = getEditState() !== 'false';
    setEditState(!editState);

    const editButtons = document.querySelectorAll('.list-edit-button, .x-form, .input-div');

    if (!editState) {
      editButtons.forEach((button) => {
            button.style.display = 'block';
        });
    } else {
      editButtons.forEach((button) => {
            button.style.display = 'none';
        });
    }
  }

  function initializeServingsInput() {
    const servingsInput = document.getElementById("servings-input");

    if (servingsInput) {
      servingsInput.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
          event.preventDefault();
          adjustServings(0);
        }
      });
    }
  }

  function initializeEditState() {
    const editState = getEditState() === 'true';

    if (!editState) {
        restoreEditButton();
    } else {
        replaceEditButtons();
    }

    if (!editState) {
      const editButtons = document.querySelectorAll('.list-edit-button, .x-form, .input-div');
      editButtons.forEach((button) => {
        button.style.display = 'none';
      });
    } else {
      const editButtons = document.querySelectorAll('.list-edit-button, .x-form, .input-div');
      editButtons.forEach((button) => {
        button.style.display = 'block';
      });
    }
  }

  // Function to save the scroll position for the current recipe page
  function saveScrollPosition(recipeId) {
    const scrollPosition = window.scrollY;
    sessionStorage.setItem(`recipeScrollPosition_${recipeId}`, scrollPosition);
  }

  // Function to retrieve and set the saved scroll position
  function setScrollPosition(recipeId) {
    const scrollPosition = sessionStorage.getItem(`recipeScrollPosition_${recipeId}`);
    if (scrollPosition) {
      window.scrollTo(0, scrollPosition);
    }
  }

  // Get the current recipe's ID from your template (replace 'recipeId' with the actual variable)
  const currentRecipeId = '<%= recipe._id %>'; 

  // Save the scroll position when the page unloads
  window.addEventListener('beforeunload', () => saveScrollPosition(currentRecipeId));

  // Set the scroll position when the page loads
  window.addEventListener('load', () => setScrollPosition(currentRecipeId));
  
  window.addEventListener('load', initializeServingsInput);
  window.addEventListener('load', initializeEditState);
</script>

<%- include('../partials/footer') %>