<%- include('../partials/header') %>
<div id="recipe-div" data-recipe-id="<%= recipe._id %>">
  <div id="show-ed-de-div">
    <div id="show-page">
      <div>Cuisine: </div>
      <div>
        <% if (recipe.cuisine) { %>
          <%= recipe.cuisine.name %>
        <% } %>
      </div>
      <div>Type of Dish: </div>
      <div><%= recipe.dishType %></div>
      <div>Servings: </div>
      <div><%= recipe.serving %></div>
      <div>Prep Time: </div>
      <div><%= recipe.formattedPrepTime %></div>
      <div>Cook Time: </div>
      <div><%= recipe.formattedCookTime %></div>
      <div>Total Time: </div>
      <div><%= recipe.totalTime %></div>
      <div>Have made before: </div>
      <div><%= recipe.haveMade ? 'Yes' : 'No' %></div>
    </div>
    <% if (user && recipe.user && recipe.user.equals(user._id)) { %>
      <div id="ed-de-div">
        <div class="edit-button">
          <button id="editOriginalButton" onclick="replaceAndToggleEditButtons()" id="toggleEditButtons">
            <img src="/images/edit-icon.png" alt="Edit Icon" class="ed-de-icon"/>
          </button>
        </div>
        <div id="editNewButtons" class="hidden">
          <div id="confcanc-buttons">
            <button onclick="restoreAndToggleEditButton()">
              <img src="/images/edit-icon.png" alt="Edit Icon" class="ed-de-icon"/>
            </button>
            <a href="/recipes/<%= recipe._id %>/edit">
              <button type="submit">
                <img src="/images/check.png" alt="Check Icon" class="ed-de-icon" id="check-button"/>
              </button>
            </a>
          </div>
        </div>
        <div class="trash-button">
          <button id="deleteOriginalButton" onclick="replaceDeleteButtons()">
            <img src="/images/trash-icon.png" alt="Trash Icon" class="ed-de-icon">
          </button>
        </div>
        <div id="deleteNewButtons" class="hidden">
          <div id="confcanc-buttons">
            <button onclick="restoreDeleteButton()">
              <img src="/images/close.png" alt="Close Icon" class="ed-de-icon" id="close-button">
            </button>
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
              <button type="submit">
                <img src="/images/check.png" alt="Check Icon" class="ed-de-icon" id="check-button"/>
              </button>
            </form>
          </div>
        </div>
      </div>
    <% } %>
  </div>

  <% if (recipe.equipments.length) { %>
    <div class="equipment-list">
      <h2>Equipment</h2>
        <ul>
          <% let total = 0 %>
          <% recipe.equipments.forEach(function(equipment) { %>
                <li class="equipment-li">
                  <%= equipment.content %>
                </li>
                <div>
                  <% if (user?._id.equals(equipment.user)) { %>
                    <button class="list-edit-button">
                      <a href="recipes/equipments/<%= equipment._id %>/edit">
                        Edit
                      </a>
                    </button>
                  <% } %>
                </div>
                <div>
                  <% if (user?._id.equals(equipment.user)) { %>
                    <form action="/recipes/<%= recipe._id %>/equipments/<%= equipment._id %>?_method=DELETE" method="POST" class="x-form">
                      <button class="x-button" type="submit">X</button>
                  </form>
                  <% } %>
                </div>
          <% }); %>
        </ul>
    </div>
  <% } %>

  <% if(user && recipe.user && recipe.user.equals(user._id)) { %>
    <div class="input-div">
      <form id="add-equipment-form" method="POST"
        action="/recipes/<%= recipe._id %>/equipments">
        <input id="content-form-equipment" name="content" placeholder="Equipment item name (e.g., blender, pastry cutter)"></input>
        <input type="submit" value="Add equipment item" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="content-error-equipment"></span>
      </div>
      <div class="group-divider"></div>
    </div>
  <% } %>

  <% if (recipe.ingredients.length || recipe.ingredientGroups.length) { %>
    <div class="instruction-list">
      <h2>Ingredients</h2>
      <div id="ingredients-adjuster">
        <div>Servings</div>
        <div>
          <button id="decrease-servings" onclick="adjustServings(-1)">-</button>
          <input type="number" id="servings-input" value="<%= recipe.serving %>" data-original-servings="<%= recipe.serving %>">
          <button id="increase-servings" onclick="adjustServings(1)">+</button>
        </div>
        <button id="reset-servings" onclick="resetServingsToOriginal()">Reset</button>
        <div>Display</div>
        <select id="display-mode" onchange="updateIngredientQuantities()">
          <option value="original">Original</option>
          <option value="fraction">Fraction</option>
          <option value="decimal">Decimal</option>
        </select>
      </div>
      <ul>
        <% let total = 0 %>
        <% recipe.ingredients.forEach(function(ingredient) { %>
          <li class="ingredient-li">
            <span class="ingredient-quantity" data-original-quantity="<%= ingredient.quantity %>"><%= ingredient.quantity %></span>
            <%= ingredient.measurement %>
            <%= ingredient.content %>
          </li>
          <div>
            <% if (user?._id.equals(ingredient.user)) { %>
              <button class="list-edit-button">
                <a href="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>/edit">
                  Edit
                </a>
              </button>
            <% } %>
          </div>
          <div>
            <% if (user?._id.equals(ingredient.user)) { %>
              <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST" class="x-form">
                <button class="x-button" type="submit">X</button>
              </form>
            <% } %>
          </div>
        <% }); %>
      </ul>
    </div>
  <% } %>
  
  <% if(user && recipe.user && recipe.user.equals(user._id)) { %>
    <div class="input-div">
      <form id="add-ingredient-form" method="POST"
        action="/recipes/<%= recipe._id %>/ingredients">
        <input  name="quantity" id="quantity-form-ingredient" placeholder="Qty."></input>
        <select name="measurement" id="measurement-form">
          <option value="">Measurement</option>
          <option value="Pinch">Pinch</option>
          <option value="Dash">Dash</option>
          <option value="Teaspoon">Teaspoon</option>
          <option value="Tablespoon">Tablespoon</option>
          <option value="Ounce">Ounce</option>
          <option value="Pound">Pound</option>
          <option value="Fluid Ounce">Fluid Ounce</option>
          <option value="Cup">Cup</option>
          <option value="Pint">Pint</option>
          <option value="Quart">Quart</option>
          <option value="Gallon">Gallon</option>
        </select>
        <input  name="content" id="content-form-ingredient" placeholder="Ingredient name (e.g., flour, salt, eggs)"></input>
        <input type="submit" value="Add ingredient" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="quantity-error-ingredient"></span>
        <span class="error-message" id="content-error-ingredient"></span>
      </div>
      <div class="group-divider"></div>
    </div>
  <% } %>

  <% if (user && recipe.user && recipe.user.equals(user._id)) { %>
    <div class="input-div">
      <form id="add-ingredient-group-form" method="POST" action="/recipes/<%= recipe._id %>/ingredientGroups">
        <input id="name-form-ingredient-group" name="name" placeholder="Group name (e.g., Dry Ingredients, For the Topping)"></input>
        <input type="submit" value="Create ingredient group" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="name-error-ingredient-group"></span>
      </div>
    </div>
  <% } %>

  <% if (recipe.ingredientGroups.length) { %>
    <div class="instruction-list">
      <div id="group-container">
        <% let total = 0 %>
        <% recipe.ingredientGroups.forEach(function(ingredientGroup) { %>
          <div class="group-list">
            <div class="group-li">
              <h3 class="ingredient-group-name"><%= ingredientGroup.name %></h3>
              <div class="group-edit">
                <% if (user?._id.equals(ingredientGroup.user)) { %>
                  <button class="list-edit-button">
                    <a href="recipes/ingredientGroups/<%= ingredientGroup._id %>/edit">
                      Edit
                    </a>
                  </button>
                <% } %>
              </div>
              <div class="group-delete">
                <% if (user?._id.equals(ingredientGroup.user)) { %>
                  <form action="/ingredientGroups/<%= ingredientGroup._id %>?_method=DELETE" method="POST" class="x-form">
                    <button class="x-button" type="submit">X</button>
                  </form>
                <% } %>
              </div>
            </div>
            <ul>
              <% ingredientGroup.ingredients.forEach(function(ingredient) { %>
                <li class="ingredient-li">
                  <span class="ingredient-quantity" data-original-quantity="<%= ingredient.quantity %>"><%= ingredient.quantity %></span>
                  <%= ingredient.measurement %>
                  <%= ingredient.content %>
                </li>
                <div>
                  <% if (user?._id.equals(ingredient.user)) { %>
                    <button class="list-edit-button">
                      <a href="/recipes/<%= recipe._id %>/ingredientGroups/<%= ingredientGroup._id %>/ingredients/<%= ingredient._id %>/edit">
                        Edit
                      </a>
                    </button>
                  <% } %>
                </div>
                <div>
                  <% if (user?._id.equals(ingredient.user)) { %>
                    <form action="/recipes/<%= recipe._id %>/ingredientGroups/<%= ingredientGroup._id %>/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST" class="x-form">
                      <button class="x-button" type="submit">X</button>
                    </form>
                  <% } %>
                </div>
              <% }); %>
            </ul>
            <% if (user && recipe.user && recipe.user.equals(user._id)) { %>
              <div class="input-div">
                <form class="add-group-ingredient-form" id="add-group-ingredient-form-<%= ingredientGroup._id %>" method="POST"
                  action="/recipes/<%= recipe._id %>/ingredientGroups/<%= ingredientGroup._id %>/ingredients" onsubmit="return validateGroupIngredientForm('<%= ingredientGroup._id %>')">
                  <input name="quantity" id="quantity-form-group-ingredient-<%= ingredientGroup._id %>" class="quantity-form-group-ingredient" placeholder="Qty."></input>
                  <select name="measurement" id="measurement-form">
                    <option value="">Measurement</option>
                    <option value="Pinch">Pinch</option>
                    <option value="Dash">Dash</option>
                    <option value="Teaspoon">Teaspoon</option>
                    <option value="Tablespoon">Tablespoon</option>
                    <option value="Ounce">Ounce</option>
                    <option value="Pound">Pound</option>
                    <option value="Fluid Ounce">Fluid Ounce</option>
                    <option value="Cup">Cup</option>
                    <option value="Pint">Pint</option>
                    <option value="Quart">Quart</option>
                    <option value="Gallon">Gallon</option>
                  </select>
                  <input name="content" id="content-form-group-ingredient-<%= ingredientGroup._id %>" class="content-form-group-ingredient" placeholder="Ingredient name (e.g., flour, salt, eggs)"></input>
                  <input type="submit" value="Add ingredient to group" data-processing="false">
                </form>
                <div class="error-message-container">
                  <span class="error-message" id="quantity-error-group-ingredient-<%= ingredientGroup._id %>"></span>
                  <span class="error-message" id="content-error-group-ingredient-<%= ingredientGroup._id %>"></span>
                </div>
                <div class="group-divider"></div>
              </div>
            <% } %>
          </div>
        <% }); %>
      </div>
    </div>
  <% } %>
  
  <% if (recipe.steps.length || recipe.stepGroups.length) { %>
    <div class="instruction-list">
      <h2>Instructions</h2>
        <ol>
          <% let total = 0 %>
          <% recipe.steps.forEach(function(step) { %>
                <li class="step-li">
                  <%= step.content %>
                </li>
                <div>
                  <% if (user?._id.equals(step.user)) { %>
                    <button class="list-edit-button">
                      <a href="recipes/steps/<%= step._id %>/edit">
                        Edit
                      </a>
                    </button>
                  <% } %>
                </div>
                <div>
                  <% if (user?._id.equals(step.user)) { %>
                    <form action="/steps/<%= step._id %>?_method=DELETE" method="POST" class="x-form">
                      <button class="x-button" type="submit">X</button>
                    </form>
                  <% } %>
                </div>
          <% }); %>
        </ol>
    </div>
  <% } %>
  
  <% if(user && recipe.user && recipe.user.equals(user._id)) { %>
    <div class="input-div">
      <form id="add-step-form" method="POST"
        action="/recipes/<%= recipe._id %>/steps">
        <textarea id="content-form-step" name="content" placeholder="Add step (e.g., Mix flour and sugar together until well combined.)"></textarea>
        <input type="submit" value="Add step" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="content-error-step"></span>
      </div>
      <div class="group-divider"></div>
    </div>
  <% } %>

  <% if (user && recipe.user && recipe.user.equals(user._id)) { %>
    <div class="input-div">
      <form id="add-step-group-form" method="POST" action="/recipes/<%= recipe._id %>/stepGroups">
        <input id="name-form-step-group" name="name" placeholder="Group name (e.g., For the Sauce, Final Assembly)"></input>
        <input type="submit" value="Create instruction group" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="name-error-step-group"></span>
      </div>
    </div>
  <% } %>

  <% if (recipe.stepGroups.length) { %>
    <div class="instruction-list">
      <div id="group-container">
        <% let total = 0 %>
        <% recipe.stepGroups.forEach(function(stepGroup) { %>
          <div class="group-list">
            <div class="group-li">
              <h3 class="step-group-name"><%= stepGroup.name %></h3>
              <div class="group-edit">
                <% if (user?._id.equals(stepGroup.user)) { %>
                  <button class="list-edit-button">
                    <a href="/recipes/<%= recipe._id %>/stepGroups/<%= stepGroup._id %>/edit">
                      Edit
                    </a>
                  </button>
                <% } %>
              </div>
              <div class="group-delete">
                <% if (user?._id.equals(stepGroup.user)) { %>
                  <form action="/stepGroups/<%= stepGroup._id %>?_method=DELETE" method="POST" class="x-form">
                    <button class="x-button" type="submit">X</button>
                  </form>
                <% } %>
              </div>
            </div>
            <ol>
              <% stepGroup.steps.forEach(function(step) { %>
                <li class="step-li">
                  <%= step.content %>
                </li>
                <div>
                  <% if (user?._id.equals(step.user)) { %>
                    <button class="list-edit-button">
                      <a href="/recipes/<%= recipe._id %>/stepGroups/<%= stepGroup._id %>/steps/<%= step._id %>/edit">
                        Edit
                      </a>
                    </button>
                  <% } %>
                </div>
                <div>
                  <% if (user?._id.equals(step.user)) { %>
                    <form action="/recipes/<%= recipe._id %>/stepGroups/<%= stepGroup._id %>/steps/<%= step._id %>?_method=DELETE" method="POST" class="x-form">
                      <button class="x-button" type="submit">X</button>
                    </form>
                  <% } %>
                </div>
              <% }); %>
            </ol>
            <% if (user && recipe.user && recipe.user.equals(user._id)) { %>
              <div class="input-div">
                <form class="add-group-step-form" id="add-group-step-form-<%= stepGroup._id %>" method="POST" action="/recipes/<%= recipe._id %>/stepGroups/<%= stepGroup._id %>/steps">
                  <textarea id="content-form-group-step-<%= stepGroup._id %>" name="content" class="content-form-group-step" placeholder="Add step (e.g., Mix flour and sugar together until well combined.)"></textarea>
                  <input type="submit" value="Add step to group" data-processing="false">
                </form>
                <div class="error-message-container">
                  <span class="error-message" id="content-error-group-step-<%= stepGroup._id %>"></span>
                </div>
                <div class="group-divider"></div>
              </div>
            <% } %>
          </div>
        <% }); %>
      </div>
    </div>
  <% } %>

  <% if (recipe.notes.length) { %>
    <div class="note-list">
      <h2>Notes</h2>
        <ul>
          <% let total = 0 %>
          <% recipe.notes.forEach(function(note) { %>
                <li class="note-li">
                  <%= note.content %>
                </li>
                <div>
                  <% if (user?._id.equals(note.user)) { %>
                    <button class="list-edit-button">
                      <a href="recipes/notes/<%= note._id %>/edit">
                        Edit
                      </a>
                    </button>
                  <% } %>
                </div>
                <div>
                  <% if (user?._id.equals(note.user)) { %>
                    <form action="/recipes/<%= recipe._id %>/notes/<%= note._id %>?_method=DELETE" method="POST" class="x-form">
                      <button class="x-button" type="submit">X</button>
                  </form>
                  <% } %>
                </div>
          <% }); %>
        </ul>
    </div>
  <% } %>

  <% if(user && recipe.user && recipe.user.equals(user._id)) { %>
    <div class="input-div">
      <form id="add-note-form" method="POST"
        action="/recipes/<%= recipe._id %>/notes">
        <textarea id="content-form-note" name="content" placeholder="Add note (Any additional tips or variations for this recipe)"></textarea>
        <input type="submit" value="Add note" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="content-error-note"></span>
      </div>
      <div class="group-divider"></div>
    </div>
  <% } %>

  <% if (recipe.storages.length) { %>
    <div class="storage-list">
      <h2>Storage</h2>
        <ul>
          <% let total = 0 %>
          <% recipe.storages.forEach(function(storage) { %>
                <li class="storage-li">
                  <%= storage.content %>
                </li>
                <div>
                  <% if (user?._id.equals(storage.user)) { %>
                    <button class="list-edit-button">
                      <a href="recipes/storages/<%= storage._id %>/edit">
                        Edit
                      </a>
                    </button>
                  <% } %>
                </div>
                <div>
                  <% if (user?._id.equals(storage.user)) { %>
                    <form action="/recipes/<%= recipe._id %>/storages/<%= storage._id %>?_method=DELETE" method="POST" class="x-form">
                      <button class="x-button" type="submit">X</button>
                  </form>
                  <% } %>
                </div>
          <% }); %>
        </ul>
    </div>
  <% } %>

  <% if(user && recipe.user && recipe.user.equals(user._id)) { %>
    <div class="input-div">
      <form id="add-storage-form" method="POST"
        action="/recipes/<%= recipe._id %>/storages">
        <textarea id="content-form-storage" name="content" placeholder="Add storage info (e.g., Store in an airtight container at room temperature for up to 3 days.)"></textarea>
        <input type="submit" value="Add storage info" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="content-error-storage"></span>
      </div>
      <div class="group-divider"></div>
    </div>
  <% } %>

  <% if (recipe.freezers.length) { %>
    <div class="freezer-list">
      <h2>Freezing</h2>
        <ul>
          <% let total = 0 %>
          <% recipe.freezers.forEach(function(freezer) { %>
                <li class="freezer-li">
                  <%= freezer.content %>
                </li>
                <div>
                  <% if (user?._id.equals(freezer.user)) { %>
                    <button class="list-edit-button">
                      <a href="recipes/freezers/<%= freezer._id %>/edit">
                        Edit
                      </a>
                    </button>
                  <% } %>
                </div>
                <div>
                  <% if (user?._id.equals(freezer.user)) { %>
                    <form action="/recipes/<%= recipe._id %>/freezers/<%= freezer._id %>?_method=DELETE" method="POST" class="x-form">
                      <button class="x-button" type="submit">X</button>
                  </form>
                  <% } %>
                </div>
          <% }); %>
        </ul>
    </div>
  <% } %>

  <% if(user && recipe.user && recipe.user.equals(user._id)) { %>
    <div class="input-div">
      <form id="add-freezer-form" method="POST"
        action="/recipes/<%= recipe._id %>/freezers">
        <textarea id="content-form-freezer" name="content" placeholder="Add freezing info (e.g., Freeze in a sealed container for up to 1 month. Thaw overnight in the refrigerator before serving.)"></textarea>
        <input type="submit" value="Add freezing info" data-processing="false">
      </form>
      <div class="error-message-container">
        <span class="error-message" id="content-error-freezer"></span>
      </div>
    </div>
  <% } %>

</div>

<script src="/javascripts/recipeShow.js"></script>

<%- include('../partials/footer') %>