<%- include('../partials/header') %>

<div class="input-div">
    <form action="/recipes/<%= recipe._id %>/ingredientGroups/<%= ingredientGroup._id %>?_method=PUT" id="add-ingredient-group-form" method="POST">
        <input id="name-form-ingredient-group" name="name" placeholder="Group Name" value="<%= ingredientGroup.name %>"></input>
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Update Group">
    </form>
    <div class="error-message-container">
        <span class="error-message" id="name-error-ingredient-group-"></span>
    </div>
</div>

<%- include('../partials/footer') %>

<script>

    const formElements = document.querySelectorAll("form");
    formElements.forEach((form) => {
        form.addEventListener("submit", (event) => {
            const submitButton = form.querySelector("[type='submit']");

            // Dynamically get the validation function based on the form's context
            const validationFunction = getValidationFunction(form);

            if (validationFunction && !validationFunction()) {
                event.preventDefault(); // Prevent the form from being submitted again
                submitButton.removeAttribute("data-processing"); // Re-enable data-processing attribute
                submitButton.disabled = false; // Re-enable the button visually
            } else {
                submitButton.setAttribute("data-processing", "true"); // Disable the submit button
                submitButton.disabled = true; // Disable the button visually
            }
        });
    });

    function getValidationFunction(form) {
        if (form.id === "add-ingredient-group-form") {
            return validateIngredientGroupForm;
        }
        return () => true;
    }

    function validateIngredientGroupForm() {
        const ingredientGroupNameField = document.getElementById("name-form-ingredient-group");
        const ingredientGroupNameError = document.getElementById("name-error-ingredient-group");

        // Reset error message
        ingredientGroupNameError.textContent = "";

        let isValid = true;

        // Validate ingredientGroup name (must not be empty)
        const ingredientGroupNameValue = ingredientGroupNameField.value.trim();
        if (ingredientGroupNameValue === "") {
        ingredientGroupNameError.textContent = "Please enter a group name.";
        isValid = false;
        }

        return isValid;
    }


</script>